.container{
    background-color: black;
    color:navajowhite;
    text-align: center;
}

body{
    background-color: black;
}

#shopNow{
    background-color: navajowhite;
    border-radius: 3px;
    font-size: large;
}
#shopNow:active{
    transform: scale(0.98);
}